<% if params[:controller] == 'about' %>
  <div class="well">
    <h3>Author</h3>
    <ul>
      <li>Author: Dariusz Zagożdżon</li>
      <li>Github</li>
      <li>Linkedin</li>
      <li>Email: zagozdzond@gmail.com</li>
    </ul>
  </div>
<% end %>

<% if params[:controller] == 'books' && params[:action] == 'index' || params[:action] == 'show' %>
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action">Whisk(e)y</a>
  <a href="#" class="list-group-item list-group-item-action">Vodka</a>
  <a href="#" class="list-group-item list-group-item-action">Wine</a>
  <a href="#" class="list-group-item list-group-item-action">Rum</a>
</div>
<% end %>