<h1><%= @page_title %></h1>
<p>This is about page</p>

<div class="well">
  <h3>Drink For Tonight - about app and author</h3>
  <ul>
    <li>Author: Dariusz Zagożdżon</li>
    <li>Github</li>
    <li>Linkedin</li>
    <li>Email: zagozdzond@gmail.com</li>
  </ul>
</div>